body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.center {
    text-align: center;
}

.tictactoe {
    border-collapse: collapse;
}

.tictactoe td {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    font-weight: bold;
}

.tictactoe tr {
    text-align: center;
}

.tictactoe td:hover {
    background-color: lightgray;
    cursor: pointer;
}