body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.center {
    text-align: center;
}

.tictactoe {
    border-collapse: collapse;
}

.tictactoe td {
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    font-weight: bold;
    border: 0; /* Remove all borders */
    border-bottom: 1px solid #000; /* Add bottom border */
    border-right: 1px solid #000;  /* Add right border */
}

.tictactoe tr {
    text-align: center;
}

.tictactoe tr:last-child td {
    border-bottom: none; /* Remove the bottom border for the last row */
}

.tictactoe td:last-child {
    border-right: none; /* Remove the right border for the last column */
}

.tictactoe td:hover {
    background-color: lightgray;
    cursor: pointer;
}





