html{
    cursor: cell;
}

body {
    font-family: 'Audiowide', sans-serif;
    font-family: 'VT323', monospace; 
    margin-top: 4vh;
    background-color: black;
    display: block;   

  }
 
/* ---------- menu ------------ */

/* Navbar */
#navbar {
    background-color: rgb(185, 185, 185);
    border: 5px rgb(222, 222, 222);
    border-style: outset;
    padding: 1vh;
    width: 85vw;
    margin: 0 auto;
    position: fixed center;
 
}

/* Burger menu */

#bmenu {
    margin: 0 auto;
    font-size: 30px;
    cursor: pointer;
    float: right;
    /* background-color: rgb(185, 185, 185);
    border: 2px;
    border-style: outset;
    border-color: grey; */

}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: rgb(185, 185, 185); */
    /* background-color: rgb(185, 185, 185); */
    background-image: url(gradientT.jpg);
    background-size: cover;
}
  
.overlay-content {
    width: 100%;
    position: relative;
    top: 25%;
    /* width: 80vw; */
    text-align: center;
    margin-top: 30px;
 
}
  
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block;
    transition: 0.3s;
}
  
.overlay a:hover, .overlay a:focus {
    color: white;
}
  
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
  
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    } 
}



/* -------- main--------- */
.main {
    margin: 0 auto;
    padding: 1vh;
    width: 85vw;
    background-color: white;
    overflow: scroll; 
    position: fixed center;
    height: 80vh;
    border-left: 5px solid rgb(138,138, 138);
    border-right: 5px solid rgb(138,138, 138);
    border-bottom: 5px solid rgb(138,138, 138);
} 

/* #w-border {
    margin: 0 auto;
    border: 3px solid rgb(185, 185, 185); 
    border-style: inset;
    inset: 5px;
    position: relative center;
    overflow: scroll;
    outline: 5px outset rgb(222, 222, 222); 
    padding: 10px;
    background-color: white;
} */

hr {
    border: 2px dashed black;
}

#banner {
    width: 100%;
    height: auto;
}

/* ---------- gallery ------------- */

.gallery:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

ul {
    list-style: none;
    padding: 0;
    background-color: black;
}

.img-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
    margin: 0;
}
  
.img-gallery > li {
    flex-basis: 25%; /*width: 350px;*/
    max-width: 25%;
    /* position: relative; */

}
  
.img-gallery::after {
    content: "";
    flex-basis: 350px;
}
  
.img-gallery li img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

@media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

/* -------- info ---------- */
.flex-container {
    display: flex;
    flex-direction: row;
    background-image: url(gradientT.jpg);
    background-size: cover;
    /* margin: 10px; */
    /* padding: 5%; */

}
/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }

/* div.contact {
    width: 100%;
} */

h3 {
    text-decoration: underline;
    font-size: 22px;
}

.about {
    font-size: 24px;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    /* width: 100%; */
}

.contact {
    padding: 5%;
    font-size: 20px;
    /* width: 100%; */

}

.input {
    width: 100%;
    font-family: 'VT323', monospace; 
    color: blue;
    font-size: 20px;
}

.counter {
    color: yellow;
    margin: 0 auto;
    text-align: center;
}

.footer {
    text-align: center;
    font-size: 8;
}


